h2{
    color: red;
font-family: arial;
font-size: 45px;
text-align: center;
background-color: rgb(115, 255, 0);
}

p{
    color: rgb(103, 46, 117);
}

div{
    width: 200px;
    height: 200px;
background-color: brown;
}